<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<form>
  Search term:<br>
  <input type="text" name="search_term">
  <input type="submit" value="Submit">
</form action="." method="get">
Share this url: {{ request.build_absolute_uri }}
{% autoescape off %}
{% if not search_term %}
    <p>Please search for items</p>
{% elif error %}
    <p>API error occured - could not retrieve results</p>
{% elif not items %}
    <p>No results found</p>
{% else %}
    {% for item in items %}
        <p>Name: {{ item.title }} {% if item.isNew %} <b>NEW</b>{% endif %} {% if item.price.isSalePrice %}<b>SALE</b>{% endif %}</p>
        <p>Brand: {{ item.brand }}</p>
        <p>Price: {{ item.price.listPriceText }} {% if item.price.desc %}({{ item.price.desc }}){% endif %}</p>
        <p>Rating: {{ item.averageRatingText }}</p>
        <p>--------------------------------------------------</p>

    {% endfor %}
{% endif %}
{% endautoescape %}
</body>
</html>